*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

/* Header-Top */
.header-top{
    width: 100%;
    height: 40px;
    background-color: #CD6420;
    position: relative;
}


/* Thanh phan Global */
.container{
    max-width: 1320px;
    margin: auto;
    height: 40px;
    /* background-color: green; */
}

.header-top-text{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;/*Can giua theo chieu ngang*/
    align-items: center;/*Can giua theo chieu doc*/
}

    .header-top-text p{
        color: white;
        font-size: 16px;
    }

    .close{
        position: absolute;
        
        top: 50%;
        /* left: 50%; */
        right: 5px;
        transform: translate(-50%, -50%);

        width: 30px;
        height: 30px;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        opacity: 0.5; /*do trong suot cua phan tu*/
    }

        .close i{
            color: #252525;
        }

        /* Di chuyen chuot qua phan tu */
        .close:hover{
            opacity: 1;
            cursor: pointer;/*Bien tro chuot thanh ban tay*/
        }
    /* Header-Center */
    .header-main{
        width: 100%;
        height: 65px;
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 99999;
    }

    .header-main .container{
        height: 65px;
        /* background-color: red; */
    }


        .wrap-header-main{
        display: flex;
        height: 65px;
        justify-content: space-between;
        }

        .header-main-left{
            /* width: 20%; */
            height: 65px;
            /* background-color: black; */
            display: flex;
            align-items: center;
        }

            .header-main-left img{
            width: 145px;
            height: auto;
            object-fit: cover;
            }

        .header-main-center{
            /* width: 60%; */
            height: 65px;
            /* background-color:yellow; */
        }

            .menu-main{
                display: flex;
                width: 100%;
                height: 65px;
                align-items: center;
            }

            .menu-main li{
                margin-right: 20px;
                list-style: none;/*bo dau cham mac dinh cua the li-quan trong hay dung*/
                position: relative;
                padding: 22px 0;
            }

            .menu-main li::before{
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                height: 2px;
                width: 0;
                background-color: black;
                transition: width .4s;
            }
            
            .menu-main li:hover::before{
                width: 100%;
            }

            .menu-main li a{
                text-decoration: none;/*Bo gach chan cua the a*/
                color: black;
            }

            .menu-main li i{
                font-size: 14px;
                font-weight: 400;
                margin-left: 5px;
                color: black;
                opacity: .7;
            }



        .header-main-right{
            width: 30%;
            height: 65px;
            /* background-color: violet; */
            display: flex;
        }

            /* .customer-left{
                width: 50%;
                height: 65px;
                background-color: aqua;
            } */

                .customer-left ul{
                    display: flex;
                    height: 65px;
                    align-items: center;
                }

                .customer-left ul li{
                    list-style: none;
                    width: 30px;
                    height: 30px;
                    background-color: white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .customer-left ul li:hover{
                    background-color: rgba(238, 238, 238, 0.4);
                }

                .customer-left ul .disabled{
                    opacity: 0.3;
                    cursor: not-allowed;
                }

                .customer-left ul .disabled:hover{
                    background-color: #fff;
                }

            .customer-right{
                /* width: 50%;
                height: 65px; */
                /* background-color: aquamarine; */
                margin-left: 20px;
            }

                .customer-right ul{
                    display: flex;
                    height: 65px;
                    align-items: center;
                }

                    .customer-right ul li{
                        list-style: none;
                        margin-left: 20px;
                        position: relative;
                    }

                    .customer-right ul li i{
                        font-size: 19px;
                    }

                    .customer-right ul li  span{
                        position: absolute;
                        top: -12px;
                        right: -8px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: red;
                        display: flex;
                        justify-content: center;
                        font-size: 13px;
                        color: #fff;
                    }



/* Sub menu */
.sub-menu-c1{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: white;
    display: none;
}

.menu-main:hover .sub-menu-c1{
    display: block;
}

.sub-menu-c1 li {
    padding: 8px 10px;
}

.sub-menu-c1 li::before{
    content: none;
}

.sub-menu-c1 li:hover a{
    color: blue;
}

/* Banner */

.banner .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner .owl-nav button span{
    color:black;
    font-size: 50px;
}

.banner .owl-dots{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.banner .owl-dots button span{
    width: 20px !important;
    height: 5px !important;
}

.banner .owl-dots button.active span{
    background-color: black !important;
}

/* Servive-hot */

.coloumn-4{
    width: calc(100%/4);
}

.row{
    display: flex;
    margin: 0 -15px;
}

.coloumn{
    padding-left: 15px;
    padding-right: 16px;
}

.service-hot{
    width: 100%;
    height: 500px;
    background-color: pink;
}

.content{
    width: 100%;
    height: 300px;
    background-color: violet;
    margin-bottom: 40px;
}



